.container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-game {
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-body-game {
    padding: 2rem;
}